<!-- *****************************************
                CAROUSEL
********************************************** -->
<div id="imagenes_destacadas">
    <div id="carousel_paisajes" class="carousel slide" data-ride="carousel">
        <!-- Indicadores -->
        <ol class="carousel-indicators">
            <li data-target="#carousel_paisajes" data-slide-to="0" class="active"></li>
            <li data-target="#carousel_paisajes" data-slide-to="1"></li>
            <li data-target="#carousel_paisajes" data-slide-to="2"></li>
        </ol>
        <!-- Contenedor de los slide -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../imagenes/brasil.jpg" class="img-responsive" alt="">
                <div class="carousel-caption hidden-xs hidden-sm">
                    <div class="slider-contenido">
                        <h2>Río de Janeiro</h2>
                        <h3>Brasil</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../imagenes/cataratasiguazu.jpg" class="img-responsive" alt="">
                <div class="carousel-caption hidden-xs hidden-sm">
                    <div class="slider-contenido">
                        <h2>Cataratas del Iguazú</h2>
                        <h3>Misiones</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../imagenes/glaciares.jpg" class="img-responsive" alt="">
                <div class="carousel-caption hidden-xs hidden-sm">
                    <div class="slider-contenido">
                        <h2>Parque Nacional Los Glaciares</h2>
                        <h3>Santa Cruz</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controles -->
        <a href="#carousel_paisajes" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a href="#carousel_paisajes" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>	<!-- Cierre Carousel -->
</div>